<p>클래스상세페이지</p>
{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endif %}
<br>
<br>


{{object.img1}}
{{object.img2}}
{{object.img3}}
{{object.img4}}
{{object.img5}}

{{object.class_title}}
<br>
{{object.describe}}
<br>
{{object.price}}원
<br>
{{object.date}}
<br>
{{object.category}}
<br>
{{object.book_set.count}}
<br>
{{object.max_number}}
<br>

{% if user.id in object.book_set.user %}
<a href="{% url 'classregister:detail' object.id %}">리뷰쓰기</a>
<br>
<form method='POST'>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br><br>
    {% if form %}
    <input type="submit" value="등록">
    {% endif %}
</form>
{% endif %}

<br>
{% for review in reviews %}
{{ review.user.username }}
{{ review.content }}
<br>
{% endfor %}
<br>

{% if object.book_set.count == 1 %}
<a href="{% url 'classregister:participate' object.id %}">신청 취소</a>
{% else %}
<a href="{% url 'classregister:participate' object.id %}">클래스신청</a>
{% endif %}

찜하기
후기작성
<a href="{% url 'classregister:list' %}">클래스 리스트로</a>
<a href="{% url 'classregister:delete' object.id %}" onclick="return confirm('삭제하시겠습니까?')">삭제하기</a>
<br>


{% endblock %}