<p>클래스상세페이지</p>
{% extends 'base.html' %}
{% block content %}

{{object.img1}}
{{object.img2}}
{{object.img3}}
{{object.img4}}
{{object.img5}}

{{object.class_title}}
<br>
{{object.describe}}
<br>
{{object.price}}원
<br>
{{object.date}}
<br>
{{object.category}}
<br>
{{object.book_set.count}}
<br>
{{object.max_number}}
<br>
클래스신청
찜하기
후기작성
<a href="{% url 'classregister:list' %}">클래스 리스트로</a>
<a href="{% url 'classregister:delete' object.id %}" onclick="return confirm('삭제하시겠습니까?')">삭제하기</a>
<br>


{% endblock %}