<p>클래스상세페이지</p>
{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endif %}
<br>
<br>

{% if object.img1 %}
<img src ="{{ object.img1.url }}" width = 200px> 
{% endif %}
{% if object.img2 %}
<img src ="{{ object.img2.url }}" width = 200px> 
{% endif %}
{% if object.img3 %}
<img src ="{{ object.img3.url }}" width = 200px> 
{% endif %}
{% if object.img4 %}
<img src ="{{ object.img4.url }}" width = 200px> 
{% endif %}
{% if object.img5 %}
<img src ="{{ object.img5.url }}" width = 200px> 
{% endif %}

{{object.owner_name}}님의 클래스
<br>
{{object.class_title}}
<br>
{{object.describe}}
<br>
{{object.price}}원
<br>
{{object.date}}
<br>
{{object.category}}
<br>
{{object.book_set.count}}
<br>
{{object.max_number}}
<br>

{% if user in books %}
<a href="{% url 'classregister:detail' object.id %}">리뷰쓰기</a>
<br>
<form method='POST'>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <br><br>
    {% if form %}
    <input type="submit" value="등록">
    {% endif %}
</form>
{% endif %}

<br>
{% for review in reviews %}
{{ review.user.username }}
{{ review.content }}
<br>
{% if user == review.user %}
<a href="{% url 'classregister:deletereview' review.id %}" onclick="return confirm('삭제하시겠습니까?')">리뷰삭제</a>
{% endif %}
{% endfor %}
<br>

{% if user == object.owner_name %}
    <a href="{% url 'classregister:classupdate' object.id %}">수정</a>
    <a href="{% url 'classregister:delete' object.id %}" onclick="return confirm('삭제하시겠습니까?')">삭제하기</a>

{% else %}

    {% if object.book_set.count == 1 %}
    <a href="{% url 'classregister:participate' object.id %}">신청 취소</a>
    {% else %}
    <a href="{% url 'classregister:participate' object.id %}">클래스신청</a>
    {% endif %}

    {% if object.scrap_set.count == 1 %}
    <a href="{% url 'classregister:scrap' object.id %}">찜취소</a>
    {% else %}
    <a href="{% url 'classregister:scrap' object.id %}">찜하기</a>
    {% endif %}

{% endif %}

<a href="{% url 'classregister:list' %}">클래스 리스트로</a>
<br>


{% endblock %}