@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #365c9a !important;
}
.bg-success {
  background-color: #365c9a !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #365c9a !important;
  border-color: #365c9a !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #365c9a !important;
  border-color: #365c9a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1c2f4e;
  color: #1c2f4e !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #365c9a;
  border-color: #365c9a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #365c9a !important;
  border-color: #365c9a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #7a2820;
  color: #7a2820 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ca4336;
  border-color: #ca4336;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1c2f4e;
  color: #1c2f4e !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #365c9a;
  border-color: #365c9a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #365c9a !important;
  border-color: #365c9a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f5a208;
  color: #f5a208 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #614003 !important;
  background-color: #fac769;
  border-color: #fac769;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #365c9a !important;
}
.text-secondary {
  color: #ca4336 !important;
}
.text-success {
  color: #365c9a !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1c2f4e !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #7a2820 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1c2f4e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #365c9a;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #365c9a;
  border-color: #365c9a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #365c9a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7e9ed2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7e9ed2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}
blockquote {
  border-color: #365c9a;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type='submit'] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type='submit']:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
.input-group-btn button[type='submit'] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #365c9a;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #365c9a;
  border-bottom-color: #365c9a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #365c9a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ca4336 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23365c9a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rIxlBUQeEd .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rIxlBUQeEd .nav-item,
.cid-rIxlBUQeEd .nav-link,
.cid-rIxlBUQeEd .navbar-caption {
  font-weight: normal;
}
.cid-rIxlBUQeEd .nav-item:focus,
.cid-rIxlBUQeEd .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rIxlBUQeEd .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rIxlBUQeEd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rIxlBUQeEd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rIxlBUQeEd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rIxlBUQeEd .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rIxlBUQeEd .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rIxlBUQeEd .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rIxlBUQeEd .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-rIxlBUQeEd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rIxlBUQeEd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rIxlBUQeEd .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rIxlBUQeEd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rIxlBUQeEd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rIxlBUQeEd .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rIxlBUQeEd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rIxlBUQeEd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rIxlBUQeEd .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rIxlBUQeEd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rIxlBUQeEd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rIxlBUQeEd .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rIxlBUQeEd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rIxlBUQeEd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rIxlBUQeEd .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rIxlBUQeEd .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rIxlBUQeEd .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rIxlBUQeEd .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rIxlBUQeEd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rIxlBUQeEd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-rIxlBUQeEd .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rIxlBUQeEd .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rIxlBUQeEd .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rIxlBUQeEd .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rIxlBUQeEd .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rIxlBUQeEd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rIxlBUQeEd .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rIxlBUQeEd .dropdown-item.active,
.cid-rIxlBUQeEd .dropdown-item:active {
  background-color: transparent;
}
.cid-rIxlBUQeEd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rIxlBUQeEd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rIxlBUQeEd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rIxlBUQeEd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rIxlBUQeEd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rIxlBUQeEd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rIxlBUQeEd ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-rIxlBUQeEd .navbar-buttons {
  text-align: center;
}
.cid-rIxlBUQeEd button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-rIxlBUQeEd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #365c9a;
}
.cid-rIxlBUQeEd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rIxlBUQeEd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rIxlBUQeEd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rIxlBUQeEd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rIxlBUQeEd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rIxlBUQeEd nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rIxlBUQeEd nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rIxlBUQeEd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rIxlBUQeEd .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rIxlBUQeEd a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-rIxlBUQeEd .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-rIxlBUQeEd .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rIxlBUQeEd .soc-item {
  margin: .5rem .3rem;
}
.cid-rIxlBUQeEd .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rIxlBUQeEd .navbar {
    height: 77px;
  }
  .cid-rIxlBUQeEd .navbar.opened {
    height: auto;
  }
  .cid-rIxlBUQeEd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rIsBNxCYox {
  overflow: hidden !important;
  background-image: url("../../../assets2/images/liz99-7eeesn-egsi-unsplash-2000x1334.jpg");
}
.cid-rIsBNxCYox .container-fluid {
  padding: 0 3rem;
}
.cid-rIsBNxCYox .animated-element {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-rIsBNxCYox .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rIsGpv9Ofn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rIsGpv9Ofn .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rIsGpv9Ofn .row-element,
.cid-rIsGpv9Ofn .image-element {
  padding: 0;
}
.cid-rIsGpv9Ofn .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rIsGpv9Ofn .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rIsGpv9Ofn .text-content {
  padding: 3rem;
}
.cid-rIsGpv9Ofn .mbr-figure {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-rIsGpv9Ofn .text-content {
    padding: 2rem 1rem;
  }
  .cid-rIsGpv9Ofn .mbr-title,
  .cid-rIsGpv9Ofn .mbr-text,
  .cid-rIsGpv9Ofn .mbr-section-btn,
  .cid-rIsGpv9Ofn .mbr-section-subtitle {
    text-align: center !important;
  }
}
.cid-rIsGpv9Ofn .mbr-section-subtitle {
  color: #365c9a;
}
.cid-rIsGpv9Ofn .mbr-title {
  color: #365c9a;
}
.cid-rIsGpv9Ofn .mbr-text,
.cid-rIsGpv9Ofn .mbr-section-btn {
  color: #232323;
  text-align: left;
}
.cid-rIxlDnxhnm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rIxlDnxhnm .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-rIxlDnxhnm .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rIxlDnxhnm .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rIxlDnxhnm .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-rIxlDnxhnm .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #66458e;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-rIxlDnxhnm .icon-transition span:hover {
  background-color: #e96188;
}
.cid-rIxlDnxhnm .mbr-text {
  color: #767676;
  text-align: right;
}
@media (max-width: 991px) {
  .cid-rIxlDnxhnm .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-rIxlDnxhnm .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-rIxlDnxhnm .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-rIxlDnxhnm .mbr-text DIV {
  text-align: right;
}
.cid-rIwVW69CfW {
  overflow: hidden !important;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets2/images/shelf-1853439-1280-1280x853.jpg");
}
.cid-rIwVW69CfW .container-fluid {
  padding: 0 3rem;
}
.cid-rIwVW69CfW .animated-element {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-rIwVW69CfW .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rIx3hf4SKX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
}
.cid-rIx3hf4SKX .card {
  display: block;
  position: relative;
}
.cid-rIx3hf4SKX .card .card-wrapper {
  background: #ffffff;
  height: 1%;
}
.cid-rIx3hf4SKX .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-rIx3hf4SKX .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rIx3hf4SKX .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #365c9a;
}
.cid-rIx3hf4SKX .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-rIx3hf4SKX .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-rIx3hf4SKX .mbr-card-text {
  margin: 0;
}
.cid-rIx3hf4SKX .mbr-section-title {
  text-align: center;
}
.cid-rIx8UK4a4u {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rIx8UK4a4u .row-element,
.cid-rIx8UK4a4u .image-element {
  padding: 0;
}
.cid-rIx8UK4a4u .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rIx8UK4a4u .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rIx8UK4a4u .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-rIx8UK4a4u .text-content {
    padding: 2rem 1rem;
  }
  .cid-rIx8UK4a4u .mbr-title,
  .cid-rIx8UK4a4u .mbr-text,
  .cid-rIx8UK4a4u .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-rIx8UK4a4u .mbr-text,
.cid-rIx8UK4a4u .mbr-section-btn {
  color: #767676;
}
.cid-rIx8UK4a4u .mbr-title {
  color: #e96188;
}
.cid-rIx9PveWFN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rIxafuMED3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rIxafuMED3 .google-map {
  height: 25rem;
  position: relative;
}
.cid-rIxafuMED3 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rIxafuMED3 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rIxafuMED3 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rIxafuMED3 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rIxaWhtKWw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rIxcqchxtY {
  overflow: hidden !important;
  padding-top: 120px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rIxcqchxtY .container-fluid {
  padding: 0 3rem;
}
.cid-rIxcqchxtY .animated-element {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-rIxcqchxtY .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rIxbETQZ36 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rIxbETQZ36 .form-control {
  color: #000000 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #000000;
}
.cid-rIxbETQZ36 .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-rIxbETQZ36 input::-webkit-input-placeholder {
  color: #000000;
}
.cid-rIxbETQZ36 input::-moz-placeholder {
  color: #000000;
}
.cid-rIxbETQZ36 textarea::-webkit-input-placeholder {
  color: #000000;
}
.cid-rIxbETQZ36 textarea::-moz-placeholder {
  color: #000000;
}
.cid-rIxbETQZ36 textarea.form-control {
  min-height: 83px;
}
.cid-rIxbETQZ36 .mbr-section-subtitle {
  color: #767676;
}
